<script setup>
import SpeedDial from 'primevue/speeddial';
import {ref} from "vue";

const emits = defineEmits(['upload', 'download']);

const items = ref([
  {
    label: 'Upload',
    icon: 'pi pi-upload',
    command: () => {
      emits('upload');
    }
  },
  {
    label: 'Download',
    icon: 'pi pi-download',
    command: () => {
      emits('download');
    }
  },
])
</script>

<template>
    <SpeedDial :model="items" showIcon="pi pi-bars" hideIcon="pi pi-times" direction="right" :style="{ top: 'calc(2rem)', left: '2rem' }" />
</template>

<style scoped>

</style>