<script setup>
import ToggleButton from 'primevue/togglebutton';
import Button from 'primevue/button';

import Knob from 'primevue/knob';
import {onMounted, ref, watch} from "vue";
import {useElementsStore} from "@/stores/elements.js";

const referenceData = {
  control_button: false,
  boiler: {
    steam_valve: false,
    spill_valve: false,
    lack_sensor: false,
    tank_full_sensor: false,
    temperature: 100
  },
  conveyor: {
    status: false,
  },
  conveyor_sensor: {
    status: false,
    bottle_sensor: false,
  }
}

const data = ref(JSON.parse(JSON.stringify(referenceData)));

watch(() => data.value, (newVal) => {

}, {deep:true});

function stop() {
  data.value = JSON.parse(JSON.stringify(referenceData));
}

function changed(type, event) {
  if (type === 'bottle_sensor') {
    data.value.conveyor_sensor.status = ! event.target.checked;
  }
}

const store = useElementsStore();
</script>

<template>
<div class="bottom-0 absolute left-0 bg-gray-100 right-0 flex px-2 py-3 gap-2">

  <div class="inline-flex flex-col border rounded-lg p-2 bg-white">
    <h3 class="rounded text-center border-b">#1</h3>
    <div class="flex items-center gap-2 p-2 justify-between">
      <span>Перемещение</span>
      <ToggleButton v-model="data.conveyor.status" onLabel="Включен" offLabel="Выключен" />
    </div>
  </div>

  <div class="inline-flex flex-col border rounded-lg p-2 bg-white">
    <h3 class="rounded text-center border-b">#2</h3>

    <div class="flex items-center gap-2 p-2 justify-between">
      <span>Датчик положения бутылки</span>
      <ToggleButton v-model="data.conveyor_sensor.bottle_sensor" onLabel="Включен" offLabel="Выключен" @change="changed('bottle_sensor', $event)" />
    </div>

    <div class="flex items-center gap-2 p-2 justify-between">
      <span>Перемещение</span>
      <ToggleButton v-model="data.conveyor_sensor.status" onLabel="Включен" offLabel="Выключен" />
    </div>
  </div>


  <div class="inline-flex flex-col border rounded-lg p-2 bg-white">
    <h3 class="rounded text-center border-b">#3</h3>

    <div class="flex items-center gap-2 p-2 justify-between">
      <span>Паровой клапан</span>
      <ToggleButton v-model="data.boiler.steam_valve" onLabel="Открыт" offLabel="Закрыт" />
    </div>

    <div class="flex items-center gap-2 p-2 justify-between">
      <span>Клапан разлива</span>
      <ToggleButton v-model="data.boiler.spill_valve" onLabel="Включен" offLabel="Выключен" />
    </div>

    <div class="flex items-center gap-2 p-2 justify-between">
      <span>Датчик отсутствия жидкости</span>
      <ToggleButton v-model="data.boiler.lack_sensor" onLabel="Включен" offLabel="Выключен" />
    </div>

    <div class="flex items-center gap-2 p-2 justify-between">
      <span>Датчик полноты резервуара</span>
      <ToggleButton v-model="data.boiler.tank_full_sensor" onLabel="Включен" offLabel="Выключен" />
    </div>

    <div class="flex items-center gap-2 p-2 justify-between">
      <span>Температура</span>
      <Knob v-model="data.boiler.temperature" />
    </div>
  </div>

  <div class="inline-flex flex-col border rounded-lg p-2 bg-white">
    <h3 class="rounded text-center border-b">#4</h3>
    <div class="flex items-center gap-2 p-2 justify-between">
      <Button severity="danger" @click="stop">СТОП</Button>
    </div>
  </div>

</div>
</template>

<style scoped>

</style>