<script setup>
import InputText from 'primevue/inputtext';
import InputGroup from 'primevue/inputgroup';
import InputGroupAddon from 'primevue/inputgroupaddon';
import Button from 'primevue/button';
import {parameterByType} from "@/services/parameterFactory.js";
import {ref, watch} from "vue";
import Dropdown from 'primevue/dropdown';

const props = defineProps(['data', 'id']);
const emits = defineEmits(['save']);

const parameters = ref({});
const parametersTypes = ref({});

watch(() => props.data, (newVal) => {
  if (!newVal.type) {
    return;
  }
  parameters.value = {...newVal};
  parametersTypes.value = parameterByType(newVal.type);
});

const isType = (key, type) => {
  return parametersTypes.value[key]?.type === type;
}

function save() {
  emits('save', {
    id: props.id,
    data: {...parameters.value}
  });
}
</script>

<template>
  <div class="absolute bottom-0 w-full left-[256px] bg-primary-200 p-2" style="width: calc(100% - 256px)" v-if="parameters.type">
    <div class="grid grid-cols-4 gap-2">
      <div v-for="(value, key) in parameters">
        <InputGroup v-if="isType(key, 'input')">
          <InputGroupAddon>
            {{ key }}
          </InputGroupAddon>
          <InputText class="w-full" v-model="parameters[key]"/>
        </InputGroup>

        <InputGroup v-if="isType(key, 'select')">
          <InputGroupAddon>
            {{ key }}
          </InputGroupAddon>
          <Dropdown :options="parametersTypes[key].variants" v-model="parameters[key]" class="w-full rounded-none" />
        </InputGroup>
      </div>
    </div>
    <div class="mt-2">
      <Button @click="save">Сохранить</Button>
    </div>
  </div>
</template>

<style scoped>

</style>