<script setup>
import PanelMenu from 'primevue/panelmenu';

import {ref} from "vue";

const emits = defineEmits(['add']);

const items = ref([
  {
    label: 'Inputs',
    items: [

      {
        label: 'Personal Shape',
        command: () => emits('add', 'personal_shape')
      },
      {
        label: 'Bool Type',
        command: () => emits('add', 'bool')
      },
      {
        label: 'Text Button',
        command: () => emits('add', 'text_button')
      }
    ]
  }
]);
</script>

<template>
  <aside id="separator-sidebar"
         class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 shadow-xl"
         aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <PanelMenu :model="items" class="w-full"/>
    </div>
  </aside>
</template>

<style scoped>

</style>