@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import "base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  height: 100vh;
}
