<script setup>
import {onUnmounted, ref, watch} from "vue";

const props = defineProps(['data']);

let toggled = false;
const parameters = ref({});

const inData = ref({});
const intervalId = ref(0);
set(props.data);
watch(() => props.data, (newVal) => {
  set(newVal);
});

function set(input) {
  parameters.value = {
    width: input.width + 'px',
    height: input.height + 'px',
    background: toggled ? input.on_color : input.off_color,
  }

  inData.value = {
    on_color: input.on_color,
    off_color: input.off_color,
    interval: input.interval,
  }

  clearInterval(intervalId.value);
  intervalId.value = setInterval(doInterval, Number(inData.value.interval * 1000));
}


function doInterval() {
  parameters.value.background = toggled ? inData.value.on_color : inData.value.off_color;
  toggled = !toggled;
}

onUnmounted(() => {
  clearInterval(intervalId.value);
})

</script>

<template>
  <div>
    <div :style="parameters" class="rounded-full"></div>
    <div class="text-center">{{ data.name }}</div>
  </div>
</template>

<style scoped>

</style>