<script setup>

</script>

<template>
  <div class="w-64 h-10 border rounded-sm border-black bg-rose-500 relative">
    <div class="absolute -bottom-6">#2</div>
    <div class="absolute right-1.5 -top-1.5  w-3 h-3 rounded-full z-5 bg-black"></div>
  </div>
</template>

<style scoped>

</style>