<script setup>

</script>

<template>
  <div class="w-64 h-10 border rounded-sm border-black bg-rose-500 relative">
    <div class="absolute -bottom-6">#1</div>
  </div>
</template>

<style scoped>

</style>