<script setup>
import {computed, onMounted, ref, watch} from "vue";

const props = defineProps({
  data: {
    type: Object,
  }
});
const parameters = ref({
  width: props.data.width + 'px',
  height: props.data.height + 'px',
  background: props.data.color,
});

watch(() => props.data, (newVal) => {
  parameters.value = {
    width: newVal.width + 'px',
    height: newVal.height + 'px',
    background: newVal.color,
  }
});

const isEllipsis = computed(() => {
  return props.data.shape_type === 'ellipse'
})

</script>

<template>
  <div>
    <div :style="parameters" class="" :class="{'rounded-full': isEllipsis }"></div>
    <div class="text-center">{{ data?.name }}</div>
  </div>
</template>

<style scoped>

</style>