<script setup>
import {useVueFlow, VueFlow} from '@vue-flow/core'
import {markRaw, onMounted, ref} from "vue";
import { Background } from '@vue-flow/background';
import Control from "@/components/Control.vue";
import {exportData} from "@/services/export.js";
import {importFile} from "@/services/import.js";

import Conveyor from "@/components/nodes/Conveyor.vue";
import {nodeByType} from "@/services/factory.js";
import ControlPanel from "@/components/ControlPanel.vue";
import ConveyorWithSensor from "@/components/nodes/ConveyorWithSensor.vue";
import Boiler from "@/components/nodes/Boiler.vue";
import ControlButton from "@/components/nodes/ControlButton.vue";
import {useElementsStore} from "@/stores/elements.js";

const { addNodes, nodes } = useVueFlow();

const store = useElementsStore();

const nodeTypes = {
  conveyor: markRaw(Conveyor),
  conveyor_sensor: markRaw(ConveyorWithSensor),
  boiler: markRaw(Boiler),
  control_button: markRaw(ControlButton)
}

function addNode(type) {
  const node = nodeByType(type);
  addNodes(node);
}

function download() {
  exportData(nodes.value);
}

function upload() {
  importFile((n) => {
    addNodes(n);
  });
}
</script>

<template>

  <Control></Control>

  <VueFlow v-model="store.elements" class="basicFlow"
           :default-viewport="{ zoom: 1.5 }"
           :min-zoom="0.2"
           :max-zoom="4"
           :node-types="nodeTypes"
  >
    <Background pattern-color="#aaa" :gap="16" />
  </VueFlow>

  <ControlPanel/>
</template>

<style scoped>
</style>
